@import url("https://fonts.googleapis.com/css?family=Exo+2|Poppins|Quicksand|Roboto+Slab|Sunflower:300");
@keyframes modal-video {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes modal-video-inner {
  from {
    transform: translate(0, 100px); }
  to {
    transform: translate(0, 0); } }

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.modal-video-effect-exit {
  opacity: 0; }
  .modal-video-effect-exit .modal-video-movie-wrap {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px); }

.modal-video-body {
  max-width: 940px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table; }

.modal-video-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out; }
  .modal-video-movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -35px;
  right: -35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent; }
  .modal-video-close-btn:before {
    transform: rotate(45deg); }
  .modal-video-close-btn:after {
    transform: rotate(-45deg); }
  .modal-video-close-btn:before, .modal-video-close-btn:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    border-radius: 5px;
    margin-top: -6px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.8px; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.NavLogo {
  width: 50px; }

.AppJumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 80%;
  min-height: 50vh;
  color: white; }

.AppDescription {
  width: 100vw;
  color: white;
  background: linear-gradient(transparent, black); }

.MovieDetailJumbotronMask {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 98; }

.MovieDetailEmptyPost {
  width: 100%;
  height: 420px;
  background-color: rgba(205, 205, 205, 0.979); }

.MovieDetailJumbotron {
  z-index: 98; }

.MemberJumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  color: white;
  height: 35vh; }

.MemberJumbotronInfo {
  background-color: rgba(0, 0, 0, 0.5); }

.MemberJumbotronDesc {
  margin-bottom: 10px; }
  .MemberJumbotronDesc h6 small {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 2px white solid; }

.imgScale {
  max-width: 100%;
  transition: all 0.3s; }
  .imgScale:hover {
    transform: scale(1.1); }

.MovieImgDesc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.MovieImgDescRate {
  position: absolute;
  background-color: rgba(122, 122, 122, 0.432); }

.MovieCard:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.09);
  border-color: rgba(0, 0, 0, 0.09);
  cursor: pointer; }

.OverFlowHidden {
  overflow: hidden; }

.MovieTitleHeader {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.NavSearchBar {
  width: 100%; }

.NavSearchBarInput {
  width: 250px !important; }

.hoverPoint {
  cursor: pointer; }

.avtarBG {
  width: 50px;
  height: 50px; }
  .avtarBG .avtarUserLetter {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.815); }

.SearchScreen {
  height: 100vh; }

.SearchResults {
  min-height: 90vh !important; }

.SearchBarMovieCardCaption {
  height: 55%;
  color: white;
  background: linear-gradient(transparent, black);
  text-shadow: 1px 1px 1px black; }
  .SearchBarMovieCardCaption .SearchBarMovieCardCaptionReleaseDate {
    font-size: 0.8rem; }
  .SearchBarMovieCardCaption > span {
    width: 235px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px; }

.SearchBarMovieCard {
  height: 100px;
  background-position: center top; }

.SearchBarButton {
  position: relative;
  z-index: 100; }

.SearchJumbotron {
  background-size: cover !important;
  height: 100% !important;
  weight: 100% !important; }

.fullMask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3f3f3f;
  z-index: 99;
  opacity: 0.9;
  transition: all 1.5s; }

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100; }

.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }

.video_mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(126, 126, 126, 0.568);
  min-width: 100%;
  min-height: 100%;
  z-index: 1; }

.btnLoadMoreMovie {
  width: 100%;
  padding: 10px !important;
  font-size: 20px !important; }

.footerContainer {
  background-color: #1c659a;
  color: white;
  font-size: 12px; }
  .footerContainer a {
    color: white;
    text-decoration: underline; }
    .footerContainer a:hover {
      color: rgba(255, 255, 255, 0.712); }

.NavContainer {
  background-color: #03406d; }

.ant-card-actions {
  background-color: #fff !important; }

.ant-card-cover {
  overflow: hidden; }

#LoginForm .login-form {
  width: 100%; }

#LoginForm .login-form-forgot {
  float: right; }

#LoginForm .login-form-button {
  width: 100%; }

.ant-collapse-header {
  font-weight: bold;
  padding-bottom: 0px !important; }

.ant-rate {
  font-size: 16px !important; }

.ant-rate-star {
  margin-right: 2px !important; }

.ant-input-affix-wrapper {
  height: 60px; }

.react-autosuggest__container {
  position: relative;
  z-index: 100; }

.react-autosuggest__input {
  width: 280px;
  height: 33px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px; }
  @media (max-width: 992px) {
    .react-autosuggest__input {
      width: 100%; } }

.react-autosuggest__input:focus {
  outline: none; }

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.react-autosuggest__suggestions-container {
  display: none; }

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 29px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 202; }
  @media (max-width: 414px) {
    .react-autosuggest__container--open .react-autosuggest__suggestions-container {
      width: 100%; } }

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.react-autosuggest__suggestion {
  cursor: pointer; }

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd; }

.react-autosuggest__suggestion--focused {
  background-color: #0c7eaf;
  color: #fff; }

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat; }
