@import url("https://fonts.googleapis.com/css?family=Exo+2|Poppins|Quicksand|Roboto+Slab|Sunflower:300");
@import "node_modules/react-modal-video/scss/modal-video.scss";

body {
  margin: 0;
  padding: 0;
  // font-family: "Roboto Slab", serif;
  // font-family: "Poppins", sans-serif;
  // font-family: "Sunflower", sans-serif;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.8px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavLogo {
  width: 50px;
}

.AppJumbotron {
  background-size: cover;
  // background-position: top;
  // background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 80%;
  min-height: 50vh;
  color: white;
}

.AppDescription {
  width: 100vw;
  color: white;
  background: linear-gradient(transparent, black);
}

.MovieDetailJumbotronMask {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.MovieDetailEmptyPost {
  width: 100%;
  height: 420px;
  background-color: rgba(205, 205, 205, 0.979);
}

.MovieDetailJumbotron {
  z-index: 101;
  // margin-top: -200px;
  // background-color: rgba(255, 255, 255, 0.8);
}

.MemberJumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  color: white;
  height: 35vh;
}
.MemberJumbotronInfo {
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.MemberJumbotronDesc {
  margin-bottom: 10px;
  h6 {
    small {
      margin-right: 15px;
      padding-right: 15px;
      border-right: 2px white solid;
    }
  }
}

.imgScale {
  max-width: 100%;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.MovieImgDesc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.MovieImgDescRate {
  position: absolute;
  background-color: rgba(122, 122, 122, 0.432);
}

.MovieCard:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.09);
  border-color: rgba(0, 0, 0, 0.09);
}

.OverFlowHidden {
  overflow: hidden;
}

.MovieTitleHeader {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.NavSearchBar {
  width: 100%;
}

.NavSearchBarInput {
  width: 250px !important;
}

.hoverPoint {
  cursor: pointer;
}

.avtarBG {
  width: 50px;
  height: 50px;
  .avtarUserLetter {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.815);
  }
}
// Overwrite ANTD's style
.ant-card-actions {
  background-color: #fff !important;
}
.ant-card-cover {
  overflow: hidden;
}
#LoginForm .login-form {
  width: 100%;
}
#LoginForm .login-form-forgot {
  float: right;
}
#LoginForm .login-form-button {
  width: 100%;
}
.ant-collapse-header {
  font-weight: bold;
  padding-bottom: 0px !important;
}

//react-autosuggest
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 31px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0c7eaf;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}
